

<!DOCTYPE html>
<html lang="pt-BR">
{% extends 'base.html' %}

{% include 'header.html' %}

{% block title %} Cadastro de Itens {% endblock %}
{% block body %}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: left;
        line-height: 6px;
    }

    th {
        border-top: 10px solid #5f74f0 !important;
    }
</style>

<div class="w-100" style="padding-top: 0px !important;">
    <div class="w-100"> 
        <a href="{{url_for('index')}}" type="button" class="btn btn-success ms-2">Voltar</a>
        <button id="exportExcel" class="btn btn-warning">Exportar para Excel</button>
        <button id="importExcel" class="btn btn-primary">Importar Itens</button>

        <h2 class="d-flex justify-content-center mt-2"><strong>Cadastro de Itens</strong></h2>

        <div class="input-group d-flex justify-content-end w-100">
            <form method="POST" action="{{url_for('cadastro_itens')}}" class="input-group w-50 input-group d-flex justify-content-start ms-4">
                <input type="search" class="form-control w-50" placeholder="Pesquisar Código" name="filtro_cod" aria-label="Pesquisar por Código" aria-describedby="basic-addon2" autocomplete="off" style="text-transform: uppercase;">
                <input type="search" class="form-control w-50 ms-2" placeholder="Pesquisar Descrição" name="filtro_desc" aria-label="Pesquisar por Descrição" aria-describedby="basic-addon2" autocomplete="off" style="text-transform: uppercase;">
                <div class="input-group-append">
                    <button class="btn btn-info ms-1" type="submit">Buscar</button>
                </div>
            </form>
        </div>

        <div class="container w-100">
            {% with messages=get_flashed_messages(with_categories=true) %}
                {%if messages%}
                    {%for category, message in messages%}
                        <div class="alert alert-success">
                            {{message}}
                            <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {%endfor%}
                {%endif%}
            {%endwith%}
        </div>

        <div class="w-100 margin-top p-2">
            <table class="table table-hover table-info">
                <tr class="table-primary">                        
                    <th>Item</th>
                    <th>Descrição</th>
                    <th>Ncm</th>
                    <th>Família</th>
                    <th>Cliente</th>
                    <th>Código do Cliente</th>
                    <th>Material</th>
                    <th>Peso Unitário</th>
                    <th>Fino Unitário</th>
                    <th>Unidade Omie</th>
                    <th>Unidade Visual</th>
                    <th>Uso</th>
                    <th>Data Alteração</th>
                    <th>Observação</th>
                    <th>Id_Produto</th>
                    <th>Edições</th>
                </tr>

                {% for row in itens.items %}
                    <tr>                      
                        <td>{{row.item}}</td>
                        <td>{{row.descricao}}</td>
                        <td>{{row.ncm}}</td>
                        <td>{{row.familia}}</td>
                        <td>{{row.cliente}}</td>
                        <td>{{row.codigo_cliente}}</td>
                        <td>{{row.material}}</td>
                        <td>{{row.peso}}</td>
                        <td>{{row.fino}}</td>
                        <td>{{row.unidade}}</td>
                        <td>{{row.um_visual}}</td>
                        <td>{{row.uso}}</td>
                        <td>{{row.data_alteracao}}</td>
                        <td>{{row.obs}}</td>
                        <td>{{row.id_produto}}</td>
                        <td><div>           
                            <form action="item/{{row.item}}" method="post" type="hidden" >
                                        <input type="hidden" name="item" value="{{row.item}}">
                                        <button type="submit" for="myForm" class="btn btn-info btn-xs"><img
                                src="{{url_for('static', filename='images/card-list.svg')}}" alt=""></button>                           
                            </form>
                        </div></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    {% for page_num in itens_page.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %} 
        {% if page_num %} 
            {% if itens_page.page == page_num %}
                <a class="btn btn-dark mb-4" href="{{ url_for('cadastro_itens', page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-dark mb-4" href="{{ url_for('cadastro_itens', page=page_num) }}">{{ page_num }}</a>
            {% endif %} 
        {% else %} 
            ... 
        {% endif %} 
    {% endfor %}
</div>

<!-- Modal for file upload -->
<div class="modal fade" id="importExcelModal" tabindex="-1" role="dialog" aria-labelledby="importExcelModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="importExcelModalLabel">Importar de Itens</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="uploadForm" action="{{ url_for('importar_itens') }}" method="POST" enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="file" name="file" class="form-control-file" accept=".xlsx, .xls">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Importar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById('exportExcel').addEventListener('click', function() {
        window.location.href = "{{ url_for('exportar_itens_excel') }}";
    });

    document.getElementById('importExcel').addEventListener('click', function() {
        var modal = new bootstrap.Modal(document.getElementById('importExcelModal'));
        modal.show();
    });
</script>

{% endblock %}
</html>
