

<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Gerenciador do Setor de Cobre</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #525151;
        margin: 0;
        padding: 0;
    }
    h2 {
        text-align: center;
        margin-top: 20px;
        color: #fff;
    }
    .container {
        display: flex;
        justify-content: space-between;
        padding: 0px;
    }
    .containerModal {
        min-width: 250px;
    }
    .containerModal2 {
        min-width: 200px;
    }
    .column {
        width: 22%;
        border-radius: 8px;
        padding: 10px;
        box-shadow: 0 8px 16px rgba(248, 247, 247, 0.411); /* Suavizado a sombra */
    }
    input {
        width: 130px;
        height: 12px;
        padding: 2px;
    }
    select {
        width: 138px;
        height: 20px;
        padding: 2px;
    }
    .column h3 {
        text-align: center;
        margin-top: 0;
        margin-bottom: 20px;
        color: #fff;
    }
    #pedidos-setor {
        background-color: #2196F3; /* Azul */
    }
    #producao-setor {
        background-color: #FF9800; /* Laranja */
    }
    #qualidade-setor {
        background-color: #e91e2f; /* Rosa */
    }
    #expedicao-setor {
        background-color: #4CAF50; /* Verde */
    }
    .setor {
        min-height: 200px;
        border: 2px dashed #ccc;
        border-radius: 8px;
        padding: 10px;
        margin-bottom: 20px;
        background-color: rgba(145, 143, 143, 0.479); /* Sombra mais clara */
    }
    .card {
        background-color: #d3dff591;
        border: 8px solid; /* Borda mais larga */
        border-radius: 4px;
        padding: 10px;
        margin-bottom: 10px;
        font-size: 13px;
        cursor: pointer;
        transition: background-color 0.3s ease, border-color 0.3s ease; /* Transição suave para a cor da borda */
    }
    .card:hover {
        background-color: #f2f2f2;
    }
    .status-estoque {
        color: green;
        font-weight: bold;
    }
    .readonly-input {
        background-color: #d1cfcf; /* Cinza claro */
        color: #666; /* Texto em cinza escuro */
        width: 80px;
        height: 10px;
    }
    .readonly-input2 {
        background-color: #d1cfcf; /* Cinza claro */
        color: #666; /* Texto em cinza escuro */
        width: 130px;
        height: 10px;
    }
    .read-input {
        background-color: #ffffff; /* Cinza claro */
        width: 80px;    
    }
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        text-align: left;
        top: 0;
        width: 100%;
        height: 60%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }
    .modal-content {
        background-color: #eeeded;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 50%;
        border-radius: 8px;
        height: 75%; /* Ajuste a altura do modal de faturamento */
    }
    .modal-content2 {
        background-color: #eeeded;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 50%;
        border-radius: 8px;
        height: 75%; /* Ajuste a altura do modal de faturamento */
    }
    .close {
        color: #f00505;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    .detail-field {
        margin-bottom: 10px;
    }
    .detail-field label {
        color: rgb(2, 8, 66);
        font-weight: bold;
    }
    .navbar {
        background-color: #2e4053;
        color: #fff;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar-brand {
        font-size: 24px;
        font-weight: bold;
        text-decoration: none;
    }
    .navbar-nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 10px; /* Espaçamento entre os botões */
    }
    .nav-item {
        margin-right: 10px;
    }
    .nav-link {
        display: inline-block;
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        padding: 10px 20px;
        border-radius: 25px; /* Bordas arredondadas */
        background-color: #007bff; /* Cor do fundo */
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    .nav-link:hover {
        background-color: #0056b3; /* Cor do fundo ao passar o mouse */
        color: #ffc107;
    }
    .usuario {
        font-size: 18px;
    }
    .modal-buttons button {
        padding: 8px 15px;
        border: none;
        border-radius: 25px;
        margin-right: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    .modal-buttons button:hover {
        background-color: #ddd;
    }
    .modal-aligned {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .status-bar {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #143135;
        color: #dfdcdc;
        text-align: center;
        padding: 10px;
        font-size: 20px;
    }
</style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light w-100 fixed-top header border-bottom border-2 border-dark">
    <img src="{{ url_for('static', filename='images/logo-iso.png')}}" width=200 alt="logo">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link card-menu text-center" href="{{url_for('index')}}">Sistema kels</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('pedidos')}}">Pedidos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('pedidos_faturados')}}">Faturados</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('ferramentas')}}">Ferramentas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('estoque_cobre')}}">Estoque</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('packlist')}}">Packing List</a>
        </li>
    </ul>
    <div class="usuario">
        <p>Bem vindo: {{ current_user.name }} | <a href="/logout" class="text-warning">Sair</a></p>
    </div>
</nav>

<h2>Gerenciador do Setor de Cobre</h2>
<div class="container">
    <div class="column">
        <h3>Pedidos</h3>

        <div class="setor" id="pedidos-setor">
            <b> Pedido | Cliente | Peso &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
                <button class="save-ccl" style="background-color: #ffffff; border-radius: 15px;">
                    <img src="{{ url_for('static', filename='images/repeat.svg')}}" alt="Atualizando">
                </button>
                <br>
                Código | Data Ent | Estoque<br></b><hr/> 
            {% for pedido in pedidos %}
            {% if pedido.Status == 'Emitido' %}

            <div class="card" data-pedido-id="{{ pedido.id }}" data-estoque="{{ pedido.estoque }}" data-quantidade="{{ pedido.quantidade }}" ondblclick="showDetails('{{ pedido.data_entrega }}', '{{ pedido.dimensional }}',
            '{{ pedido.descricao }}', '{{ pedido.cliente }}', '{{ pedido.quantidade }}', '{{ pedido.codigo }}',
            '{{ pedido.pedido }}', '{{ pedido.Status }}', '{{ pedido.obs_entrega }}', '{{ pedido.peso }}', '{{ pedido.peso_total }}', '{{ pedido.material }}',
             '{{ pedido.peso_material }}', '{{ pedido.amarrados }}', '{{ pedido.dimencional_real }}',
             '{{ pedido.obs }}', '{{ pedido.estoque }}')" onclick="selectCard(this)" draggable="true">
            {{ pedido.pedido }} | {{ pedido.cliente }} | {{ pedido.quantidade }}kg<br>
            {{ pedido.codigo }} | {{ pedido.data_entrega }} | {{ pedido.estoque}}kg<br>
            
            <hr/> 
            Desc.:{{ pedido.descricao }}<br>
            <hr/>  
            Med.:{{ pedido.dimensional }} | {{pedido.canto}} | {{pedido.furo}}
            <hr/>
            {% if pedido.estoque >= pedido.quantidade %} 
                <span class="status-estoque">Status: Pedido em Estoque</span> 
            {% else %} 
            <p style="color: red; background-color: #ccc;">
                <span>Status: Precisa Produzir {{pedido.quantidade - pedido.estoque}}kg</span></p>
                
            {% endif %}
        </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="column">
        <h3>Produção</h3>
        <div class="setor" id="producao-setor">
            <b> Pedido | Cliente | Peso &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
                <button class="save-ccl" style="background-color: #ffffff; border-radius: 15px;">
                    <img src="{{ url_for('static', filename='images/repeat.svg')}}" alt="Atualizando">
                </button>
                <br>
                Código | Data Ent | Estoque<br></b><hr/> 
            {% for pedido in pedidos %}
            {% if pedido.Status == 'Produzindo' %}

            <div class="card" data-pedido-id="{{ pedido.id }}" data-estoque="{{ pedido.estoque }}" data-quantidade="{{ pedido.quantidade }}" ondblclick="showDetails('{{ pedido.data_entrega }}', '{{ pedido.dimensional }}',
           '{{ pedido.descricao }}', '{{ pedido.cliente }}', '{{ pedido.quantidade }}', '{{ pedido.codigo }}',
            '{{ pedido.pedido }}', '{{ pedido.Status }}','{{ pedido.obs_entrega }}', '{{ pedido.peso }}', '{{ pedido.peso_total }}', '{{ pedido.material }}',
             '{{ pedido.peso_material }}', '{{ pedido.amarrados }}', '{{ pedido.dimencional_real }}',
             '{{ pedido.obs }}', '{{ pedido.estoque }}')" onclick="selectCard(this)" draggable="true">
           {{ pedido.pedido }} | {{ pedido.cliente }} | {{ pedido.quantidade }}kg<br>
           {{ pedido.codigo }} | {{ pedido.data_entrega }} | {{ pedido.estoque}}kg<br>
           
           <hr/> 
           Desc.:{{ pedido.descricao }}<br>
            <hr/> 
            Med.:{{ pedido.dimensional }} | {{pedido.canto}} | {{pedido.furo}}
            <hr/>
            {% if pedido.estoque >= pedido.quantidade %} 
                <span class="status-estoque">Status: já em Estoque, A quantidade precisa ser ajustada no almoxarifado</span> 
            {% else %} 
                <span>Status: Produzindo</span> 
            {% endif %}
            <hr/>
            <div class="container">
                <div style="text-align: left; line-height: 20px;"><b>
                    <label class="edit-input" style="display:none;">Qtd. Produzida:<br></label>
                    <label class="edit-input" style="display:none;">Peso com Emb:<br></label>
                    <label class="edit-input" style="display:none;">Matéria Prima :<br></label>
                    <label class="edit-input" style="display:none;">Peso Mat. Pri. :<br></label>
                    <label class="edit-input" style="display:none;">Qtd.Amarrados:<br></label>
                    <label class="edit-input" style="display:none;">Dimensional   :<br></label>
                    <label class="edit-input" style="display:none;">Observaçóes  :<br></label>
                </b>
                </div>
                <div>
                    <input type="number" class="edit-input {% if pedido.peso %}readonly-input2{% endif %}" name="peso" data-field="peso" value="{{ pedido.peso|default('', true) }}" autocomplete="off" style="display:none;" {% if pedido.peso %}readonly{% endif %}>
                    <input type="number" class="edit-input" name="peso_total" data-field="peso_total" value="{{ pedido.peso_total|default('', true) }}" autocomplete="off" style="display:none;">
                    <select class="edit-input" name="material" data-field="material" autocomplete="off" style="display:none;">
                    <option value="01CUVERG6" {% if pedido.material == '01CUVERG6' %}selected{% endif %}>01CUVERG6</option>
                    <option value="01CUVERG7" {% if pedido.material == '01CUVERG7' %}selected{% endif %}>01CUVERG7</option>
                    </select>
                    <input type="number" class="edit-input {% if pedido.peso_material %}readonly-input2{% endif %}" name="peso_material" data-field="peso_material" value="{{ pedido.peso_material|default('', true) }}" autocomplete="off" style="display:none;" {% if pedido.peso_material %}readonly{% endif %}>
                    <input type="text" class="edit-input" name="amarrados" data-field="amarrados" value="{{ pedido.amarrados|default('', true) }}" autocomplete="off" style="display:none;">
                    <input type="text" class="edit-input" name="dimencional_real" data-field="dimencional_real" value="{{ pedido.dimencional_real|default('', true) }}" autocomplete="off" style="display:none;">
                    <input type="text" class="edit-input" name="obs" data-field="obs" value="{{ pedido.obs|default('', true) }}" autocomplete="off" style="display:none;">
                </div>
            </div>
            
            <!-- Adicione outros campos da mesma forma --><b>
                <div class="modal-buttons">
            
                <button class="edit-btn" style="background-color: #f78254; border-radius: 5px;">Produzir ou Editar Produção ></button>
                <p>
                <div class="container">
                <button class="save-btn" style="display:none; background-color: #4059e6; border-radius: 5px;"> Produzir/Salvar</button>
                <button class="save-ccl" style="display:none; background-color: #f84444; border-radius: 5px;"> Cancelar </button>
                </div>
                </div>
            </b>
            </div>
            {% endif %}

            {% endfor %}
    </div>
    </div>
    <div class="column">
        <h3>Qualidade</h3>
        <div class="setor" id="qualidade-setor"> 
            <b> Pedido | Cliente | Peso &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
                <button class="save-ccl" style="background-color: #ffffff; border-radius: 15px;">
                    <img src="{{ url_for('static', filename='images/repeat.svg')}}" alt="Atualizando">
                </button>
                <br>
                Código | Data Ent | Estoque<br></b><hr/> 
            {% for pedido in pedidos %}
            {% if pedido.Status == 'Qualidade' %}
            <div class="card" data-pedido-id="{{ pedido.id }}" data-estoque="{{ pedido.estoque }}" data-quantidade="{{ pedido.quantidade }}" ondblclick="showDetails('{{ pedido.data_entrega }}', '{{ pedido.dimensional }}',
            '{{ pedido.descricao }}', '{{ pedido.cliente }}', '{{ pedido.quantidade }}', '{{ pedido.codigo }}',
            '{{ pedido.pedido }}', '{{ pedido.Status }}','{{ pedido.obs_entrega }}', '{{ pedido.peso }}', '{{ pedido.peso_total }}', '{{ pedido.material }}',
             '{{ pedido.peso_material }}', '{{ pedido.amarrados }}', '{{ pedido.dimencional_real }}',
             '{{ pedido.obs }}', '{{ pedido.estoque }}')" onclick="selectCard(this)" draggable="true">
           {{ pedido.pedido }} | {{ pedido.cliente }} | {{ pedido.quantidade }}kg<br>
           {{ pedido.codigo }} | {{ pedido.data_entrega }} | {{ pedido.estoque}}kg<br>
           
           <hr/> 
           Desc.:{{ pedido.descricao }}<br>
            <hr/> 
            Med.:{{ pedido.dimensional }} | {{pedido.canto}} | {{pedido.furo}}
            <hr/>
            {% if pedido.estoque >= pedido.quantidade %} 
                <span class="status-estoque">Status: Pedido em Estoque</span> 
            {% else %} 
                <span>Status: Qualidade</span> 
            {% endif %}

        </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="column">
        <h3>Expedição</h3>
        <div class="setor" id="expedicao-setor">
            <b> Pedido | Cliente | Peso &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
                <button class="save-ccl" style="background-color: #ffffff; border-radius: 15px;">
                    <img src="{{ url_for('static', filename='images/repeat.svg')}}" alt="Atualizando">
                </button>
                <br>
                Código | Data Ent | Estoque<br></b><hr/> 
            {% for pedido in pedidos %}
            {% if pedido.Status == 'Expedindo' %}
            <div class="card" data-pedido-id="{{ pedido.id }}" data-estoque="{{ pedido.estoque }}" data-quantidade="{{ pedido.quantidade }}" ondblclick="showDetails('{{ pedido.data_entrega }}', '{{ pedido.dimensional }}',
           '{{ pedido.descricao }}', '{{ pedido.cliente }}', '{{ pedido.quantidade }}', '{{ pedido.codigo }}',
            '{{ pedido.pedido }}', '{{ pedido.Status }}','{{ pedido.obs_entrega }}', '{{ pedido.peso }}', '{{ pedido.peso_total }}', '{{ pedido.material }}',
             '{{ pedido.peso_material }}', '{{ pedido.amarrados }}', '{{ pedido.dimencional_real }}',
             '{{ pedido.obs }}', '{{ pedido.estoque }}')" onclick="selectCard(this)" draggable="true">
           {{ pedido.pedido }} | {{ pedido.cliente }} | {{ pedido.quantidade }}kg<br>
           {{ pedido.codigo }} | {{ pedido.data_entrega }} | {{ pedido.estoque}}kg<br>
           
           <hr/> 
           Desc.:{{ pedido.descricao }}<br>
            <hr/> 
            Med.:{{ pedido.dimensional }} | {{pedido.canto}} | {{pedido.furo}}
            <hr/>
            {% if pedido.estoque >= pedido.quantidade %} 
                <span class="status-estoque">Status: Pedido em Estoque</span> 
            {% else %} 
                <span>Status: Qualidade</span> 
            {% endif %}
            <hr/>
            <div class="modal-buttons">
                <button class="expe-btn" style="background-color: #e6de0e; border-radius: 5px;"> Faturar X</button>
            </div>
        </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<!-- Modal de detalhes do pedido -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="container">
        <div class="containerModal">
        <div class="detail-field">
            <label>Data de Entrega:</label>
            <span id="detail-data"></span>
        </div>
        <div class="detail-field">
            <label>Medida:</label>
            <span id="detail-medida"></span>
        </div>
        <div class="detail-field">
            <label>Descrição:</label>
            <span id="detail-descricao"></span>
        </div>
        <div class="detail-field">
            <label>Cliente:</label>
            <span id="detail-cliente"></span>
        </div>
        <div class="detail-field">
            <label>Quantidade do Pedido:</label>
            <span id="detail-quantidade"></span>
        </div>
        <div class="detail-field">
            <label>Código:</label>
            <span id="detail-codigo"></span>
        </div>
        <div class="detail-field">
            <label>Pedido:</label>
            <span id="detail-pedido"></span>
        </div>
        <div class="detail-field">
            <label>Status:</label>
            <span id="detail-acao"></span>
        </div>
        <div class="detail-field">
            <label>Obs.Entrega:</label>
            <span id="detail-obs_entrega"></span>
        </div>
    </div>

    <div class="containerModal">
        <span class="close" onclick="closeModal()">&times;</span>
        <div class="detail-field">
            <label>Peso/Qtd do Material Produzido:</label>
            <span id="detail-peso"></span>
        </div>
        <div class="detail-field">
            <label>Peso Produzido total</label>
            <span id="detail-peso_total"></span>
            <label>com embalagem</label>
        </div>
        <div class="detail-field">
            <label>Material Prima</label>
            <span id="detail-material"></span>
        </div>
        <div class="detail-field">
            <label>Peso Material Usado</label>
            <span id="detail-peso_material"></span>
        </div>
        <div class="detail-field">
            <label>Qtd. de Amarrados</label>
            <span id="detail-amarrados"></span>
        </div>
        <div class="detail-field">
            <label>Dimensional Encontrado</label>
            <span id="detail-dimencional_real"></span>
        </div>
        <div class="detail-field">
            <label>Observações de Produção</label>
            <span id="detail-obs"></span>
        </div>
    </div>
</div>
</div>

<!-- Modal de Faturamento -->
<div id="faturamentoModal" class="modal">
    <div class="modal-content2">
        <span class="close" onclick="closeFaturamentoModal()">&times;</span>
        <h2>Faturar Pedido</h2>
        <div class="modal-aligned">
            <div class="containerModal2">
                <div class="detail-field">
                    <label>Peso do Pedido:</label>
                    <span id="faturamento-peso-pedido"></span>
                </div>
                <div class="detail-field">
                    <label>Peso Fabricado:</label>
                    <span id="faturamento-peso-fabricado"></span>
                </div>
                <div class="detail-field">
                    <label>Estoque Atual:</label>
                    <span id="faturamento-estoque-atual"></span>
                </div>
                <div class="detail-field">
                    <label>Peso Faturado:</label>
                    <input type="number" id="peso_faturado" oninput="atualizarSaldo()">
                </div>
                <div class="detail-field">
                    <label>Saldo:</label>
                    <span id="saldo"></span>
                </div>
                <div class="detail-field">
                    <label>Faturado pelo sistema Omie?</label>
                    <input type="checkbox" id="faturado_omie" onclick="toggleOmieStatus()">
                    <span id="omie-status">Não</span>
                </div>
                <div class="detail-field">
                    <label>Observações:</label>
                    <input type="text" id="obs_faturamento">
                </div>
            </div>
        </div>
        <div class="modal-buttons">
            <button onclick="faturarPedido()">Faturar</button>
            <button onclick="closeFaturamentoModal()">Cancelar</button>
        </div>
    </div>
</div>

<!-- Modal de Criar Packing List -->
<div id="packingListModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closePackingListModal()">&times;</span>
        <h2>Criar Packing List</h2>
        <div class="modal-aligned">
            <div class="containerModal2">
                <div class="detail-field">
                    <label>Pedidos Selecionados:</label>
                    <span id="selected-orders"></span>
                </div>
                <div class="detail-field">
                    <label>Total Amarrados:</label>
                    <span id="total-amarrados"></span>
                </div>
                <div class="detail-field">
                    <label>Peso Total Faturado:</label>
                    <span id="total-peso-faturado"></span>
                </div>
                <div class="detail-field">
                    <label>Peso Total Bruto:</label>
                    <span id="total-peso-bruto"></span>
                </div>
                <div class="detail-field">
                    <label>Observação Entrega:</label>
                    <input type="text" id="obs_entrega">
                </div>
                <div class="detail-field">
                    <label>Observação:</label>
                    <input type="text" id="obs_packing">
                </div>
            </div>
        </div>
        <div class="modal-buttons">
            <button onclick="criarPackingList()">Criar</button>
            <button onclick="closePackingListModal()">Cancelar</button>
        </div>
    </div>
</div>

<div class="status-bar" id="status-bar">
    <!-- A barra de status aparecerá aqui -->
</div>

<!-- JavaScript libraries -->
<script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
   function showDetails(data, medida, descricao, cliente, quantidade, codigo, pedido, Status, obs_entrega, peso, peso_total, material, peso_material, amarrados, dimencional_real, obs, estoque) {
        document.getElementById("detail-data").innerText = data;
        document.getElementById("detail-medida").innerText = medida;
        document.getElementById("detail-descricao").innerText = descricao;
        document.getElementById("detail-cliente").innerText = cliente;
        document.getElementById("detail-quantidade").innerText = quantidade;
        document.getElementById("detail-codigo").innerText = codigo;
        document.getElementById("detail-pedido").innerText = pedido;
        document.getElementById("detail-acao").innerText = Status;
        document.getElementById("detail-obs_entrega").innerText = obs_entrega;
        document.getElementById("detail-peso").innerText = peso;
        document.getElementById("detail-peso_total").innerText = peso_total;
        document.getElementById("detail-material").innerText = material;
        document.getElementById("detail-peso_material").innerText = peso_material;
        document.getElementById("detail-amarrados").innerText = amarrados;
        document.getElementById("detail-dimencional_real").innerText = dimencional_real;
        document.getElementById("detail-obs").innerText = obs;
        document.getElementById("myModal").style.display = "block";
    }
    function closeModal() {
        document.getElementById("myModal").style.display = "none";
    }

    $(function() {
        $(".card").draggable({
            revert: "invalid",
            zIndex: 100,
            start: function(event, ui) {
                $(this).data("startPosition", ui.helper.position());
            }
        });

        $(".setor").droppable({
            accept: ".card",
            drop: function(event, ui) {
                var startPosition = $(ui.draggable).data("startPosition");
                var endPosition = ui.helper.position();
                var deltaX = endPosition.left - startPosition.left;
                var deltaY = endPosition.top - startPosition.top;

                ui.helper.animate({
                    left: '+=' + deltaX,
                    top: '+=' + deltaY
                }, "slow");

                $(ui.draggable).appendTo(this).removeAttr("style");

                // Atualizar o status do pedido com base no setor onde o card foi solto
                var novoStatus;
                if ($(this).attr('id') === 'pedidos-setor') {
                    novoStatus = 'Emitido';
                } else if ($(this).attr('id') === 'producao-setor') {
                    novoStatus = 'Produzindo';
                } else if ($(this).attr('id') === 'qualidade-setor') {
                    if ($(ui.draggable).data('estoque') >= $(ui.draggable).data('quantidade')) {
                        novoStatus = 'Qualidade';
                    } else {
                        alert('Você não tem saldo em estoque para mover este item para a Qualidade.');
                        location.reload();
                        return;
                    }
                } else if ($(this).attr('id') === 'expedicao-setor') {
                    novoStatus = 'Expedindo';
                }

                // Obter o ID do pedido
                var pedidoId = $(ui.draggable).data('pedidoId');
                if (confirm("Tem certeza de que deseja mover este pedido para o setor " + novoStatus + "?")) {
                    // Lógica para atualizar o status do pedido
                    atualizarStatusPedido(pedidoId, novoStatus);
                } else {
                    // Cancelado pelo usuário
                    location.reload();
                }
            }
        });

        function atualizarStatusPedido(pedidoId, novoStatus) {
            $.ajax({
                type: "POST",
                url: "/atualizar_status_pedido", // Endpoint do servidor para atualizar status
                data: JSON.stringify({ pedidoId: pedidoId, novoStatus: novoStatus }),
                contentType: "application/json",
                success: function(response) {
                    console.log("Status atualizado com sucesso.", response);
                },
                error: function(error) {
                    console.error("Erro ao atualizar o status do pedido:", error);
                }
            });
        }

    });

    $(document).ready(function() {
        $('.edit-btn').click(function() {
            var card = $(this).closest('.card');
            card.find('.editable').hide();
            card.find('.edit-input').show();
            $(this).hide();
            card.find('.save-btn').show();
            card.find('.save-ccl').show();
        });

        $('.save-ccl').click(function() {
            location.reload();
        });

        $('.save-btn').click(function() {
            var card = $(this).closest('.card');
            var pedidoId = card.data('pedido-id');
            var updatedData = {};

            card.find('.edit-input').each(function() {
                var field = $(this).attr('name');
                updatedData[field] = $(this).val();
            });

            $.ajax({
                url: '/update_pedido',
                type: 'POST',
                contentType: "application/json",
                data: JSON.stringify({ pedidoId: pedidoId, data: updatedData }),
                success: function(response) {
                    console.log("Resposta do servidor:", response);
                    alert('Dados atualizados com sucesso!');

                    // Esconde os inputs e mostra os valores atualizados
                    card.find('.edit-input').each(function() {
                        $(this).hide();
                        var field = $(this).attr('name');
                        card.find('.editable[data-field="' + field + '"]').text($(this).val()).show();
                    });

                    // Oculta o botão salvar e mostra o botão editar novamente
                    card.find('.save-btn').hide();
                    card.find('.save-ccl').hide();
                    card.find('.edit-btn').show();

                    location.reload();
                },

                error: function(xhr) {
                    alert('Erro ao salvar as alterações: ' + xhr.responseText);
                }
            });
        });

        $('.expe-btn').click(function() {
            var card = $(this).closest('.card');
            var pedidoId = card.data('pedido-id');
            var pesoPedido = card.find('.edit-input[name="peso"]').val();
            var pesoFabricado = card.find('.edit-input[name="peso_total"]').val();
            var estoqueAtual = card.data('estoque');

            $('#faturamento-peso-pedido').text(pesoPedido);
            $('#faturamento-peso-fabricado').text(pesoFabricado);
            $('#faturamento-estoque-atual').text(estoqueAtual);
            $('#peso_faturado').val(pesoPedido);
            $('#saldo').text((estoqueAtual - pesoPedido).toFixed(2));

            $('#faturamentoModal').data('pedido-id', pedidoId);
            $('#faturamentoModal').show();
        });

        $('.create-packing-list-btn').click(function() {
            $('#packingListModal').show();
        });

        $('#packingListModal').on('input', '#peso_faturado', function() {
            var pesoFaturado = parseFloat($(this).val());
            var estoqueAtual = parseFloat($('#faturamento-estoque-atual').text());
            var saldo = estoqueAtual - pesoFaturado;
            $('#saldo').text(saldo.toFixed(2));
            if (saldo < 0) {
                $('#saldo').css('color', 'red');
            } else {
                $('#saldo').css('color', 'black');
            }
        });

        $('#faturado_omie').change(function() {
            if ($(this).is(':checked')) {
                $('#omie-status').text('Sim');
            } else {
                $('#omie-status').text('Não');
            }
        });

        function atualizarStatusPedido(pedidoId, novoStatus) {
            $.ajax({
                type: "POST",
                url: "/atualizar_status_pedido",
                data: JSON.stringify({ pedidoId: pedidoId, novoStatus: novoStatus }),
                contentType: "application/json",
                success: function(response) {
                    console.log("Status atualizado com sucesso.", response);
                },
                error: function(error) {
                    console.error("Erro ao atualizar o status do pedido:", error);
                }
            });
        }

        function faturarPedido() {
            var pedidoId = $('#faturamentoModal').data('pedido-id');
            var pesoFaturado = $('#peso_faturado').val();
            var faturadoOmie = $('#faturado_omie').is(':checked') ? 'Sim' : 'Não';
            var obsFaturamento = $('#obs_faturamento').val();
            var saldo = parseFloat($('#saldo').text());

            if (saldo < 0) {
                alert('Sem saldo em estoque para faturar essa quantidade.');
                return;
            }

            $.ajax({
                type: "POST",
                url: "/faturar_pedido",
                data: JSON.stringify({
                    pedidoId: pedidoId,
                    pesoFaturado: pesoFaturado,
                    faturadoOmie: faturadoOmie,
                    obsFaturamento: obsFaturamento
                }),
                contentType: "application/json",
                success: function(response) {
                    console.log("Pedido faturado com sucesso.", response);
                    closeFaturamentoModal();
                    location.reload();
                },
                error: function(error) {
                    console.error("Erro ao faturar o pedido:", error);
                }
            });
        }

        function closeFaturamentoModal() {
            $('#faturamentoModal').hide();
        }

        function closePackingListModal() {
            $('#packingListModal').hide();
        }

        function selectCard(card) {
            $(card).toggleClass('selected');
            updateStatusBar();
        }

        function updateStatusBar() {
            var selectedCards = $('.card.selected');
            if (selectedCards.length === 0) {
                $('#status-bar').hide();
                return;
            }

            var totalAmarrados = 0;
            var totalPesoFaturado = 0;
            var totalPesoBruto = 0;
            var selectedOrders = [];

            selectedCards.each(function() {
                var pedidoId = $(this).data('pedido-id');
                selectedOrders.push(pedidoId);

                var amarrados = parseFloat($(this).find('.edit-input[name="amarrados"]').val());
                var pesoFaturado = parseFloat($(this).find('.edit-input[name="peso"]').val());
                var pesoBruto = parseFloat($(this).find('.edit-input[name="peso_total"]').val());

                totalAmarrados += amarrados;
                totalPesoFaturado += pesoFaturado;
                totalPesoBruto += pesoBruto;
            });

            $('#selected-orders').text(selectedOrders.join(', '));
            $('#total-amarrados').text(totalAmarrados.toFixed(2));
            $('#total-peso-faturado').text(totalPesoFaturado.toFixed(2));
            $('#total-peso-bruto').text(totalPesoBruto.toFixed(2));
            $('#status-bar').show();
        }

        function criarPackingList() {
            var selectedOrders = $('#selected-orders').text().split(', ');
            var totalAmarrados = $('#total-amarrados').text();
            var totalPesoFaturado = $('#total-peso-faturado').text();
            var totalPesoBruto = $('#total-peso-bruto').text();
            var obsEntrega = $('#obs_entrega').val();
            var obsPacking = $('#obs_packing').val();

            $.ajax({
                type: "POST",
                url: "/criar_packlist",
                data: JSON.stringify({
                    selectedOrders: selectedOrders,
                    totalAmarrados: totalAmarrados,
                    totalPesoFaturado: totalPesoFaturado,
                    totalPesoBruto: totalPesoBruto,
                    obsEntrega: obsEntrega,
                    obsPacking: obsPacking
                }),
                contentType: "application/json",
                success: function(response) {
                    console.log("Packing list criada com sucesso.", response);
                    closePackingListModal();
                    location.reload();
                },
                error: function(error) {
                    console.error("Erro ao criar a packing list:", error);
                }
            });
        }
    });
</script>

</body>
</html>
