


{% extends 'base.html' %}

{% include 'header.html' %}

{% block title %} Pedidos - Visual {% endblock %}
{% block body %}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: left;
        line-height: 6px;
    }

    th {
        border-top: 10px solid #5f74f0 !important; /* Borda superior mais larga para as células de cabeçalho */
    }
</style>

<div class="w-100" style="padding-top: 0px !important;">
    <div class="w-100"> 
        <div class="container">
        <a href="{{url_for('op_cards')}}" type="button" class="btn btn-success ms-2">Voltar</a>
        <button type="button" class="btn btn-info ms-1 d-flex justify-content-end" data-bs-toggle="modal" data-bs-target="#addPedidoModal">Adicionar Pedido</button>
        <button id="exportExcel" class="btn btn-warning ms-1 d-flex justify-content-end">Exportar para Excel</button>
        </div>
        <h2 class="d-flex justify-content-center mt-2"><strong>Pedidos</strong></h2>

        <div class="input-group d-flex justify-content-end w-100">
            <form method="POST" action="{{url_for('pedidos')}}" class="input-group w-50 input-group d-flex justify-content-start ms-4">
                <input type="search" class="form-control  w-50" placeholder="Pesquisar pedido" name="filtro_pd" aria-label="Pesquisar dor pedido" aria-describedby="basic-addon2" autocomplete="off" style="text-transform: uppercase;">
                <div class="input-group-append">
                    <button class="btn btn-success ms-1" type="submit">Buscar por Pedido</button>
                </div>
            </form>

            <form method="POST" action="{{url_for('pedidos')}}" class="input-group w-50 input-group d-flex justify-content-start ms-4">
                <input type="search" class="form-control  w-50" placeholder="Pesquisar Código de Produto" name="filtro_cod" aria-label="Pesquisar por Código" aria-describedby="basic-addon2" autocomplete="off" style="text-transform: uppercase;">
                <div class="input-group-append">
                    <button class="btn btn-info ms-1" type="submit">Buscar Código</button>
                </div>
            </form>
        </div>

        <div class="container w-100">
            {% with messages=get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-success">
                        {{ message }}
                        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>

        <div class="w-100 margin-top p-2">
            <table class="table table-hover table-info">
                <tr class="table-primary">                        
                    <th>Pedido</th>
                    <th>Status</th>
                    <th>Data Emiss</th>
                    <th>Cliente</th>
                    <th>Código Cliente</th>
                    <th>Código</th>
                    <th>Data Entrega</th>
                    <th>obs. Entrega</th>
                    <th>Liga</th>
                    <th>Canto</th>
                    <th>Furo</th>
                    <th>Embalagem</th>
                    <th>Dimensional</th>
                    <th>Quantidade</th>
                    <th>Um</th>
                    <th>Descrição</th>
                    <th>Observaçóes</th>      
                    <th>Ações</th>
                </tr>

                {% for row in pedidos.items %}
                    <tr class='{{"table-dark" if row.situação == "Encerrada" else ""}}'>                      
                        <td>{{ row.pedido }}</td>
                        <td>{{ row.Status }}</td>
                        <td>{{ row.emissao }}</td>
                        <td>{{ row.cliente }}</td>
                        <td>-</td>
                        <td>{{ row.codigo }}</td>
                        <td>{{ row.data_entrega }}</td>
                        <td>{{ row.obs_entrega|default('-', true) }}</td>
                        <td>Cobre</td>
                        <td>{{ row.canto|default('-', true) }}</td>
                        <td>{{ row.furo|default('-', true) }}</td>
                        <td><font size="1">{{ row.embalagem|default('-', true) }}</font></td>
                        <td>{{ row.dimensional[0:30] }}</td>
                        <td>{{ row.quantidade|default('', true) }}</td>
                        <td>KG</td>
                        <td><font size="1">{{ row.descricao }}</font></td>
                        <td><font size="1">{{ row.obs }}</font></td>
                        <td>
                            <button class="btn btn-warning btn-sm" onclick="showAlterarModal('{{ row.id }}')">Alterar</button>
                            <button class="btn btn-danger btn-sm" onclick="deletarPedido('{{ row.id }}')">Deletar</button>
                        </td>
                    </tr>
                    {% include 'edit_modal_visual.html' %}
                {% endfor %}
            </table>
        </div>
    </div>
</div>

<!-- Modal de Adicionar Pedido -->
<div class="modal fade" id="addPedidoModal" tabindex="-1" aria-labelledby="addPedidoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{{ url_for('add_pedido') }}" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="addPedidoModalLabel">Adicionar Pedido</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="pedido" class="form-label">Pedido</label>
                        <input type="text" class="form-control" id="pedido" name="pedido" required>
                    </div>
                    <div class="mb-3">
                        <label for="descricao" class="form-label">Descrição</label>
                        <input type="text" class="form-control" id="descricao" name="descricao" required>
                    </div>
                    <div class="mb-3">
                        <label for="cliente" class="form-label">Cliente</label>
                        <input type="text" class="form-control" id="cliente" name="cliente" required>
                    </div>
                    <div class="mb-3">
                        <label for="codigo" class="form-label">Código</label>
                        <input type="text" class="form-control" id="codigo" name="codigo" required>
                    </div>
                    <div class="mb-3">
                        <label for="data_entrega" class="form-label">Data de Entrega</label>
                        <input type="date" class="form-control" id="data_entrega" name="data_entrega" required>
                    </div>
                    <div class="mb-3">
                        <label for="obs_entrega" class="form-label">Observação de Entrega</label>
                        <input type="text" class="form-control" id="obs_entrega" name="obs_entrega">
                    </div>
                    <div class="mb-3">
                        <label for="dimensional" class="form-label">Dimensional</label>
                        <input type="text" class="form-control" id="dimensional" name="dimensional" required>
                    </div>
                    <div class="mb-3">
                        <label for="quantidade" class="form-label">Quantidade</label>
                        <input type="number" class="form-control" id="quantidade" name="quantidade" required>
                    </div>
                    <div class="mb-3">
                        <label for="canto" class="form-label">Canto</label>
                        <input type="text" class="form-control" id="canto" name="canto">
                    </div>
                    <div class="mb-3">
                        <label for="furo" class="form-label">Furo</label>
                        <input type="text" class="form-control" id="furo" name="furo">
                    </div>
                    <div class="mb-3">
                        <label for="embalagem" class="form-label">Embalagem</label>
                        <input type="text" class="form-control" id="embalagem" name="embalagem">
                    </div>
                    <div class="mb-3">
                        <label for="obs" class="form-label">Observaçóes</label>
                        <input type="text" class="form-control" id="obs" name="obs">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Adicionar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal de Alterar Pedido -->
<div class="modal fade" id="alterarPedidoModal" tabindex="-1" aria-labelledby="alterarPedidoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="alterarPedidoForm" action="{{ url_for('alterar_pedido') }}" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="alterarPedidoModalLabel">Alterar Pedido</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="alterarPedidoId" name="id">
                    <div class="mb-3">
                        <label for="alterarPedido" class="form-label">Pedido</label>
                        <input type="text" class="form-control" id="alterarPedido" name="pedido" required>
                    </div>
                    <div class="mb-3">
                        <label for="alterarDescricao" class="form-label">Descrição</label>
                        <input type="text" class="form-control" id="alterarDescricao" name="descricao" required>
                    </div>
                    <div class="mb-3">
                        <label for="alterarCliente" class="form-label">Cliente</label>
                        <input type="text" class="form-control" id="alterarCliente" name="cliente" required>
                    </div>
                    <div class="mb-3">
                        <label for="alterarCodigo" class="form-label">Código</label>
                        <input type="text" class="form-control" id="alterarCodigo" name="codigo" required>
                    </div>
                    <div class="mb-3">
                        <label for="alterarDataEntrega" class="form-label">Data de Entrega</label>
                        <input type="date" class="form-control" id="alterarDataEntrega" name="data_entrega" required>
                    </div>
                    <div class="mb-3">
                        <label for="alterarObsEntrega" class="form-label">Observação de Entrega</label>
                        <input type="text" class="form-control" id="alterarObsEntrega" name="obs_entrega">
                    </div>
                    <div class="mb-3">
                        <label for="alterarDimensional" class="form-label">Dimensional</label>
                        <input type="text" class="form-control" id="alterarDimensional" name="dimensional" required>
                    </div>
                    <div class="mb-3">
                        <label for="alterarQuantidade" class="form-label">Quantidade</label>
                        <input type="number" class="form-control" id="alterarQuantidade" name="quantidade" required>
                    </div>
                    <div class="mb-3">
                        <label for="alterarCanto" class="form-label">Canto</label>
                        <input type="text" class="form-control" id="alterarCanto" name="canto">
                    </div>
                    <div class="mb-3">
                        <label for="alterarFuro" class="form-label">Furo</label>
                        <input type="text" class="form-control" id="alterarFuro" name="furo">
                    </div>
                    <div class="mb-3">
                        <label for="alterarEmbalagem" class="form-label">Embalagem</label>
                        <input type="text" class="form-control" id="alterarEmbalagem" name="embalagem">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Alterar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
function showAlterarModal(id) {
    fetch('/get_pedido/' + id)
        .then(response => response.json())
        .then(data => {
            document.getElementById('alterarPedidoId').value = data.id;
            document.getElementById('alterarPedido').value = data.pedido;
            document.getElementById('alterarDescricao').value = data.descricao;
            document.getElementById('alterarCliente').value = data.cliente;
            document.getElementById('alterarCodigo').value = data.codigo;
            document.getElementById('alterarDataEntrega').value = data.data_entrega;
            document.getElementById('alterarObsEntrega').value = data.obs_entrega;
            document.getElementById('alterarDimensional').value = data.dimensional;
            document.getElementById('alterarQuantidade').value = data.quantidade;
            document.getElementById('alterarCanto').value = data.canto;
            document.getElementById('alterarFuro').value = data.furo;
            document.getElementById('alterarEmbalagem').value = data.embalagem;

            var alterarPedidoModal = new bootstrap.Modal(document.getElementById('alterarPedidoModal'));
            alterarPedidoModal.show();
        });
}

function deletarPedido(id) {
    if (confirm('Tem certeza de que deseja deletar este pedido?')) {
        fetch('/deletar_pedido', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ id: id }),
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert('Pedido deletado com sucesso!');
                location.reload();
            } else {
                alert('Erro ao deletar pedido.');
            }
        });
    }
}

document.getElementById('exportExcel').addEventListener('click', function() {
            fetch('/exportar_pedidos_excel')
                .then(response => response.blob())
                .then(blob => {
                    const url = window.URL.createObjectURL(blob);
                    const a = document.createElement('a');
                    a.style.display = 'none';
                    a.href = url;
                    a.download = 'Pedidos.xlsx';
                    document.body.appendChild(a);
                    a.click();
                    window.URL.revokeObjectURL(url);
                })
                .catch(error => console.error('Error exporting to Excel:', error));
        });
</script>

{% endblock %}
